.header
{
	background-color: red;
	font-size: 30px;
	color: blue;
	height: 100px;
	line-height: 100px;
	font-style: italic;
text-decoration: underline;
text-align: center;
text-transform: uppercase;
}
.Navbar
{
	background-color: pink;
	text-align: center;
	height: 80px;
	line-height: 80px;
	font-style: georgia;
	font-size: 30px;
}
.Navbar ul li
{
	display: inline;
	padding: 20px;
}
.Navbar ul li a
{
	color: green;
	text-decoration: none;
}
.Navbar ul li a:hover
{
	color: red;
	border: solid blue 5px;
	border-radius:8px;
}
